streamlit
google-generativeai
requests
PyYAML
PyMuPDF
xai_sdk
plotly
httpx
pydantic
pdfplumber
pyvis
Pillow
pytesseract
PyPDF2
openai
pandas
scikit-learn
altair
wordcloud
matplotlib
numpy
pdf2image
pypdf
pyyaml
openai
xlsxwriter
